<section class="newsletter accent-bg">
				<div class="background-image-holder overlay accent" data-stellar-background-ratio="0.9">
					<%= image_tag('bg-4.jpg', class: 'background-image', alt:'Background') %>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-5 text-left">
							<h2 class="page-title">Unete al newsletter</h2>
							<p>Recibe en tu correo alertas de nuevos cursos.</p>
						</div>
						<div class="col-md-4">
							<form class="newsletter-form">
								<input type="text" name="email" id="email" placeholder="Ingrese su correo aqui">
							</form>
						</div>
						<div class="col-md-3">
							<a href="#" class="btn btn-primary">Unirse</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>

			<footer class="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3">
							<ul class="footer-navigation">
								<li class="active"><a href="./index.html">Home</a></li>
								<li><a href="./about.html">Nosotros</a></li>
								<li><a href="./catalog.html">Cursos</a></li>
								<li><a href="./blog.html">Blog</a></li>
								<li><a href="./contact.html"><i class="fa fa-paper-plane"></i> Llamanos</a></li>
							</ul>
							<ul class="accepted-payments">
								<li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
								<li><a href="#"><i class="fa fa-paypal"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-stripe"></i></a></li>
								<li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
							</ul>
							<div class="copyright">
								<p>Copyright © 2017 CEC - ESPOL.</p>
							</div>
						</div>
					</div><!-- /.row -->
				</div><!-- /.Desarrollo: Carlos Montano R - cjmont7@hotmail.com-->
			</footer>